[MESSAGES CONTROL]

disable=

enable=zip-builtin-not-iterating,xrange-builtin,using-cmp-argument,unpacking-in-except,unicode-builtin,unichr-builtin,sys-max-int,standarderror-builtin,setslice-method,round-builtin,reload-builtin,reduce-builtin,rdiv-method,raw-input-builtin,range-builtin-not-iterating,raising-string,print-statement,parameter-unpacking,old-raise-syntax,old-octal-literal,old-ne-operator,old-division,oct-method,nonzero-method,no-absolute-import,next-method-called,metaclass-assignment,map-builtin-not-iterating,long-suffix,long-builtin,invalid-str-codec,intern-builtin,input-builtin,indexing-exception,import-star-module-level,idiv-method,hex-method,getslice-method,filter-builtin-not-iterating,file-builtin,execfile-builtin,exception-message-attribute,eq-without-hash,div-method,dict-view-method,dict-iter-method,deprecated-string-function,deprecated-str-translate-call,delslice-method,coerce-method,coerce-builtin,cmp-method,cmp-builtin,buffer-builtin,basestring-builtin,bad-python3-import,backtick,apply-builtin


[FORMAT]

max-line-length=80

indent-string=\t

[BASIC]

function-rgx=[a-z_][a-z0-9_]{2,30}$

variable-rgx=[a-z_][a-z0-9_]{2,30}$

good-names=i,j,k,ex,Run,_

const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$

attr-rgx=[a-z_][a-z0-9_]{2,30}$

argument-rgx=[a-z_][a-z0-9_]{2,30}$

class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$

inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$

class-rgx=[A-Z_][a-zA-Z0-9]+$

module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

method-rgx=[a-z_][a-z0-9_]{2,30}$
